# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
**/coverage

# next.js
**/.next/
**/out/

# production
**/build
**/dist/
packages/website/public/demo-builds/
packages/website/public/.demo-builds-stage-*/

# local design workbench
**/.impeccable/

# local Antiky development sessions
**/.antiky/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# internal stuff
docs/_internal

# disposable objective evidence
docs/objectives/**/outputs/
docs/objectives/**/verification/
